.songList {
    width: calc(100vw - 20px);
    max-height: 50vh;
    margin: 0 auto;
    padding: 15px;
    background: #1d1d21;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.songList::-webkit-scrollbar { display: none; }