.userCard {
    width: calc(100% - 20px);
    aspect-ratio: 1;
    margin: 10px;
    background: #c2fc4a;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
}
.goBackButton {
    width: 15%;
    aspect-ratio: 1;
    margin: 5%;
    background: #000000;
    border-radius: 50%;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
}
.backIcon {
    width: 50%;
}
.userImageContainer {
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    object-fit: cover;
}
.userNameContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: calc(50% + 80px);
    translate: -50% -50%;
}
.userName {
    color: #1d1d21;
    font-size: 1.5em;
    letter-spacing: 1px;
    white-space: nowrap;
}
.userNick {
    color: #00000088;
    font-size: 1em;
}
.userNick:before { content: '@'; }